body {
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1d47e1a8;
}

ul li {
  float: left;
  border-right:1px solid #4646f0;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: rgba(13, 13, 13, 0.59);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #0f5aef;
}

ul li a.active {
  background-color: #64d3d3;
}










